nav
{
	/*https://www.w3schools.com/howto/howto_js_sidenav.asp*/
	/*top: 0px;*/
	/*left : 0px;*/
	/*position: fixed;*/
    /*z-index: 2;*/
	/*float: left;*/
    /*width: auto;*/
	flex: 10%;
    padding: 0;
    font-family: "Segoe UI",Arial,sans-serif;
	background-color : #444;
	height: 100%;

	.listing
	{
		padding: 0;
		border-radius : 0px 10px 10px 0px;
		height: auto;
	}

	ul
	{
		list-style-type: none;
		margin: 0;
	 	padding: 0;
	}

	li a
	{
		display: block;
		padding : 9px 12px 9px 9px;
		color: #C9C9C9;
	}
}
